@use '../../styles/' as *;

.chargeList {
    background-color: $colors-table-bg;
    border-radius: 20px;
    padding: 10px 23px 0 23px;
    @include light-box-shadow();
    width: 100%;
}

.chargeRow, .header {
    grid-template-rows: 50px; 
    display: grid;
    gap: 16px;
}

.header {
    border-bottom: 1px solid $colors-gray-7;
}

.chargeRow {
    &:not(:last-child) {
        border-bottom: 1px solid $colors-gray-7;
    }
}


.col, .rowItem {
    @include display-flex(flex-start);
    white-space: nowrap;
}

.col {
    color: $colors-text-primary;
    font: $medium-body-text-font;
    font-weight: bold;
}

.rowItem {
    color: $colors-text-secondary;
    font: $small-body-text-font;
}

.rowItem {
    @include display-flex(flex-start);
    width: 100%;
    height: 100%;

    .content {
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

.chargeIdRowItem {
    .content {
        color: $colors-text-secondary;
    }
    
    button.content {
        background-color: transparent;
        

        &:hover {
            text-decoration: underline;
        }
    }
}

.clientRowItem {
    .content {
        color: $colors-text-secondary;
    }

    a.content {
        text-decoration: none;
        
        &:hover {
            text-decoration: underline;
        }
    }
}

.statusRowItem {
    .content {
        padding: 0 8px;
        border-radius: 6px;
    }
}

.content.paid {
    background-color: $colors-valid-bg;
    color: $colors-valid-text;
}

.content.pending {
    background-color: $colors-attention-bg;
    color: $colors-attention-text;
}

.content.overdue {
    background-color: $colors-invalid-bg;
    color: $colors-invalid-text;
}

.optionsRowItem {
    @include display-flex();
    gap: 18px;

    > button {
        @include display-flex();
        gap: 3px;
        flex-direction: column;
        background-color: transparent;
        font: $minuscule-body-text-font;
    }

    .editBtn {
        color: $colors-text-secondary;
    }

    .deleteBtn {
        color: $colors-dark-error;
    }
}

.confirmationBox {
    @include display-flex();
    flex-direction: column;
    gap: 20px;

    .deletionMessage {
        color: $colors-attention-text;
        font-weight: bold;
    }

    .actions {
        @include display-flex();
        gap: 16px;

        > button {
            padding: 0 32px;
            border-radius: 4px;
        }

        .cancelBtn {
            background-color: $colors-light-wine;
            color: $colors-medium-wine;
        }

        .confirmationBtn {
            background-color: $colors-light-green;
            color: $colors-dark-green;
        }
    }
}

.chargeDetails {
    @include display-flex(center, flex-start);
    flex-direction: column;
    gap: 20px;
    width: 100%;

    .titleBox {
        @include display-flex();
        gap: 16px;
        font: $big-body-text-font;

        > img {
            width: 32px;
            height: 32px;
        }
    }

    .field {
        @include display-flex(center, flex-start);
        flex-direction: column;
        gap: 8px;
        width: 100%;

        .name {
            font-weight: bold
        }
    }

    .fieldGroup {
        @include display-flex(flex-start);
        gap: 20px;
        width: 100%;

        > .field:first-child {
            width: 70%;
        }

        > .field:last-child {
            width: 30%;
        }
    }

    .statusField .content {
        padding: 0 12px;
        border-radius: 20px;
    }
}