@use '../../styles/' as *;

.aside {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    grid-area: aside;
    background-color: $colors-bg-secondary;
    padding: 40px 16px;
}

.navigationMenu {
    @include display-flex();
    flex-direction: column;
    gap: 70px;
}

.link {
    @include display-flex();
    flex-direction: column;
    gap: 8px;
    text-decoration: none;
    color: $colors-text-primary;
    font: $medium-body-text-font;
    font-weight: 600;
    transition: color 250ms ease-in-out;

    > img {
        transition: filter 250ms ease-in-out;
        @include gray-1-filter();
    }

    &.active {
        color: $colors-medium-pink;

        > img {
            @include medium-pink-filter();
        }
    }
}