/* MAIN */
$light-green: #ACD9C5;
$medium-green: #0E8750;
$dark-green: #034A2A;
$light-pink: #F5A8D0;
$medium-pink: #DA0175;
$dark-pink: #75003B;

/* SUPPORT */
$light-yellow: #FCF6DC;
$medium-yellow: #C5A605;
$faded-yellow: #E3DEC8;
$light-wine: #FFEFEF;
$medium-wine: #971D1D;
$faded-wine: #E8CACA;
$light-petroleum: #EEF6F6;
$medium-petroleum: #1FA7AF;
$faded-petroleum: #D2DFE0;

/* GRAY */
$translucent-gray: #919a964c;
$gray-1: #343447;
$gray-2: #3F3F55;
$gray-3: #747488;
$gray-4: #9B9BB2;
$gray-5: #C8C8D7;
$gray-6: #DEDEE9;
$gray-7: #F0F0F5;
$gray-8: #F8F8F9;

/* FEEDBACK */
$light-sucess: #C3D4FE;
$medium-sucess: #4F78E3;
$dark-sucess: #243F80;
$light-attention: #F5D9B0;
$medium-attention: #EF8F00;
$dark-attention: #CC7800;
$light-error: #F2D6D0;
$medium-error: #E70000;
$dark-error: #AE1100;

/* APPLICATION */
$heading-primary: $gray-1;
$text-primary: $gray-2;
$text-secondary: $gray-3;

$highlighted-text-primary: $medium-pink;
$highlighted-text-secondary: $medium-green;

$button-bg-primary: $medium-pink;
$button-text-primary: $gray-8;
$button-bg-secondary: $gray-8;
$button-text-secondary: $medium-green;
$button-border-secondary: $gray-6;

$bg-primary: $gray-8;
$bg-secondary: $gray-7;

$input-border-primary: #D0D5DD;

$modal-bg: white;

$light-shadow: $translucent-gray;
$text-link: $medium-pink;
$field-error-border: $medium-error;
$error-message: $medium-error;