@use '.' as *;

.home {
    width: 100%;
    height: 100%;
    @include display-flex(flex-start);
    flex-direction: column;
    padding: 19px;
    gap: 28px;
}

.chargeSummary {
    @include display-flex();
    gap: 30px;

    > div {
        @include display-flex();
        padding: 20px 30px;
        border-radius: 14px;
        gap: 50px;

        &.paidCharges {
            background-color: $colors-valid-bg;
        }

        &.overdueCharges {
            background-color: $colors-invalid-bg;
        }

        &.expectedCharges {
            background-color: $colors-attention-bg;
        }

        .info {
            @include display-flex();
            flex-direction: column;
            color: $colors-text-primary;

            .title {
                font: $subtitle-font;
            }

            .totalAmount {
                font: $big-body-text-font;
            }
        }
    }
}

.chargeTables {
    @include display-flex(center, flex-start);
    width: 100%;
    gap: 32px;
}

.chargeTable {
    max-width: 360px;
    flex: 1;
    background-color: $colors-table-bg;
    border-radius: 20px;
    @include light-box-shadow();

    .chargeTableTitleBox {
        height: 50px;
        @include display-flex();
        border-bottom: 1px solid $colors-gray-7;
        padding: 0 24px;

        .chargeTableTitle {
            font: $subtitle-font;
            width: 75%;
            text-align: end;
        }
    }

    .chargeList {
        border-radius: 0px;
        box-shadow: none;
    }
}

.rowAmount {
    padding: 0 12px;
    margin-left: auto;
    border-radius: 6px;
}

.tableFooter {
    height: 50px;
    @include display-flex();
}

.chargeTable.paidChargesTable .rowAmount {
    background-color: $colors-valid-bg;
    color: $colors-valid-text;
}

.chargeTable.pendingChargesTable .rowAmount {
    background-color: $colors-attention-bg;
    color: $colors-attention-text;
}

.chargeTable.overdueChargesTable .rowAmount {
    background-color: $colors-invalid-bg;
    color: $colors-invalid-text;
}

.clientTables {
    @include display-flex(center, flex-start);
    width: 100%;
    gap: 32px;
}

.clientTable {
    max-width: 556px;
    flex: 1;
    background-color: $colors-table-bg;
    border-radius: 20px;
    @include light-box-shadow();

    .clientTableTitleBox {
        height: 50px;
        @include display-flex();
        padding: 0 24px;
        border-bottom: 1px solid $colors-gray-7;

        .clientTableTitle {
            font: $subtitle-font;
            margin-left: 8px;
        }
    }

    .clientList {
        border-radius: 0;
        box-shadow: none;
    }
}

.clientTable.upToDateClientTable .rowAmount {
    background-color: $colors-valid-bg;
    color: $colors-valid-text;
}

.clientTable.defaulterClientTable .rowAmount {
    background-color: $colors-invalid-bg;
    color: $colors-invalid-text;
}