@use "../../styles/" as *;

.inputField {
    position: relative;
    width: 100%;
    @include display-flex(center, flex-start);
    gap: 5px;
    flex-direction: column;

    > label {
        font: $small-body-text-font;
        font-weight: 600;
    }
}

.inputBox {
    width: 100%;
    padding: 10px 14px;
    border: 1px solid $colors-input-border-primary;
    border-radius: 8px;
    line-height: 100%;
    font: $medium-body-text-font;
    @include display-flex(flex-start);
    color: $colors-text-primary;
    
    .prefix {
        font: inherit;
        padding-right: 5px;
        font-weight: bold;
    }


    > input {
        font: inherit;
        background-color: transparent;
        outline: none;
        border: none;
        width: 100%;
        color: inherit;

        &::placeholder {
            color: $colors-text-secondary;
        }
    }

    .showPasswordBtn {
        background-color: transparent;
        width: 20px;
        height: 20px;

        > img {
            width: 100%;
            height: 100%;
        }
    }
}

.inputField:has(> .prefix) > input {
    padding-left: 44px;
}