@use '../../styles/' as *;

.clientList {
    background-color: $colors-table-bg;
    border-radius: 20px;
    padding: 10px 23px 0 23px;
}

.clientRow, .header {
    grid-template-rows: 50px; 
    display: grid;
    gap: 16px;
}

.header {
    border-bottom: 1px solid $colors-gray-7;
}

.clientRow {
    &:not(:last-child) {
        border-bottom: 1px solid $colors-gray-7;
    }
}


.col, .rowItem {
    @include display-flex(flex-start);
    white-space: nowrap;
}

.col {
    color: $colors-text-primary;
    font: $medium-body-text-font;
    font-weight: bold;
}

.rowItem {
    color: $colors-text-secondary;
    font: $small-body-text-font;
}

.rowItem {
    @include display-flex(flex-start);
    width: 100%;
    height: 100%;

    .content {
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

.statusRowItem {

    .content {
        padding: 0 8px;
        border-radius: 6px;
    }

    .content.upToDate {
        background-color: $colors-valid-bg;
        color: $colors-valid-text;
    }

    .content.defaulter {
        background-color: $colors-invalid-bg;
        color: $colors-invalid-text;
    }
}

.addChargeRowItem {
    
    .addChargeBtn {
        @include display-flex();
        flex-direction: column;
        background-color: transparent;
        color: $colors-highlighted-text-primary;

        > img {
            @include medium-pink-filter();
        }
    }
}